@charset "utf-8";

body {
    position: relative;
    overflow-x: hidden;
}
.tablet_menu, header .logo {
    display: none;
}
header {
    grid-column: 2 / span 1;
    position: relative;
    left: 13.6px;
    width: 100%;
}
header .menu {
    display: grid;
    grid-template: 1fr / 1fr 2fr 2fr 1fr;
    border: none;
    width: 100%;
}
.menu li:first-child {
    justify-self: center;
}

.menu li:last-child {
  justify-self: center;
}
.wrapper {
    display: grid;
    grid-template: 1fr 32fr / 1fr 6fr;
}
aside {
    height: 100%;
    display: block;
    background: rgb(27, 27, 27);
    color: #fff;
    grid-row: 1 / span 2;
    padding: 50px 20px;

    position: fixed;
    z-index: 9999;
}
aside .PC_menu {
    margin: 100px auto;
    padding: 20px;
    position: relative;
}
aside .PC_menu li {
    padding: 10px 40px;
    border-bottom: 1px #fff dotted;
}
aside .PC_menu li:first-child a::after {
    content: "";
    background: url(./images/house-chimney-solid.svg) no-repeat 50% / cover;
    position: absolute;
    top: 16%; left: 14%;
    width: 15px; height: 15px;
}
aside .PC_menu li:nth-child(2) a::after {
    content: "";
    background: url(./images/newspaper-regular.svg) no-repeat 50% / cover;
    position: absolute;
    top: 36%; left: 14%;
    width: 15px; height: 15px;
}
aside .PC_menu li:nth-child(3) a::after {
    content: "";
    background: url(./images/podcast-solid.svg) no-repeat 50% / cover;
    position: absolute;
    top: 56%; left: 14%;
    width: 15px; height: 15px;
}
aside .PC_menu li:nth-child(4) a::after {
    content: "";
    background: url(./images/bag-shopping-solid.svg) no-repeat 50% / cover;
    position: absolute;
    top: 77%; left: 14%;
    width: 15px; height: 15px;
}
aside p {
    margin: 440px auto 0;
    text-align: center;
    text-transform: capitalize;
}
aside .sns {
    position: relative;
    margin: 25px auto;
    padding: 10px;
    text-align: center;
}
aside .sns #facebook {
    background: url(./images/square-facebook.svg) no-repeat 50% / cover;
    position: absolute;
    bottom: 10%; left: 25%;
    width: 25px; height: 25px;
    font-size: 0;
    cursor: pointer;
}
aside .sns #insta {
    background: url(./images/instagram.svg) no-repeat 50% / cover;
    position: absolute;
    bottom: 10%; left: 45%;
    width: 25px; height: 25px;
    font-size: 0;
    cursor: pointer;
}
aside .sns #youtube {
    background: url(./images/youtube.svg) no-repeat 50% / cover;
    position: absolute;
    bottom: 10%; left: 65%;
    width: 25px; height: 25px;
    font-size: 0;
    cursor: pointer;
}

main {
    grid-column: 2 / span 1;

    
    grid-template: repeat(4, 25%) / repeat(5, 20%);
    position: relative;
    top: 0; left: 13.6px;
    width: 100%;
   
}
main .item1 h1 {
    bottom: -16%;
}
main .item2 {
    grid-column: 4 / span 2;
}
main .item3 {
    position: relative;
    cursor: pointer;
}
main .item3:hover::after {
    content: "";
    background: url(./images/fish-solid.svg) no-repeat 50% / cover;
    position: absolute;
    top: 30%; left: 10%;
    width: 300px; height: 250px;
    transform: rotate(0);

    animation: move 2s infinite;
}
@keyframes move {
    50% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0);
    }
}
main .item6 {
    grid-column: 2 / span 2;
}
main .item7 {
    grid-row: 3 / span 1;
    grid-column: 4 / span 1;
}
main .item8 {
    grid-row: 3 / span 1;
    grid-column: 5 / span 1;
}
main .item9 {
    grid-row: 4 / span 1;
    grid-column: 1 / span 2;
}
main .item10 { 
    grid-row: 4 / span 1;
    grid-column: 3 / span 1;
}
footer {
    position: relative;
    left: 285px;
    bottom: 0;
    width: 84%;
    margin: 0;
    text-align: right;
}